body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

div {
    display: block;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

li.list-group-item .item-row {
    display: table;
    width: 100%;
    table-layout: fixed;
}

    li.list-group-item .item-row .item-cell {
        display: table-cell;
        text-align: center;
    }

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

.feedback {
    position: absolute;
    text-align: center;
    top: 0;
    height: 34px;
    line-height: 34px;
    z-index: 2;
}

.feedback-user-name {
    right: 34px;
    opacity: .2;
    pointer-events: none;
}

.has-feedback.has-success span.feedback-user-name {
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.has-feedback.has-success span {
    color: #3c763d;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    background-color: transparent;
}

.has-feedback.has-success span {
    color: #3c763d;
}

.has-feedback.has-success span {
    color: #3c763d;
}

.feedback-icon {
    right: 0;
    width: 34px;
}

.feedback {
    position: absolute;
    text-align: center;
    top: 0;
    height: 34px;
    line-height: 34px;
    z-index: 2;
}

.glyphicon {
    position: absolute;
    top: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon, address {
    font-style: normal;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.form-control {
    background-color: #fcf8e3;
}

.input-id {
    padding: 10px 0px;
    background-color: #f0f0f0;
    position: relative;
}

    .input-id:before {
        background: url("../images/SocialNetwork.png") no-repeat;
        background-position: center;
        background-size: 350px 100%;
        opacity: 0.15;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: calc(100% - 20px);
    }

footer {
    padding: 10px 0px;
    text-align: center;
    color: #626262;
    background: #f0f0f0;
}