body {
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #626262;
}

.body-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 720px;
    box-shadow: 0px 0px 35px -10px #000000;
}

@media only screen and (max-width: 600px) {
    .body-content {
        width: 440px;
    }
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

li.list-group-item .item-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-bottom: 10px;
}

    li.list-group-item .item-row .item-cell {
        display: table-cell;
        text-align: center;
    }

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

.feedback {
    position: absolute;
    text-align: center;
    top: 0;
    height: 34px;
    line-height: 34px;
    z-index: 5;
}

.feedback-user-name {
    right: 34px;
    opacity: .3;
    pointer-events: none;
}

.has-feedback.has-success span {
    color: #3c763d;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    background-color: transparent;
}

.has-feedback.has-success span {
    color: #3c763d;
}

.has-feedback.has-success span {
    color: #3c763d;
}

.feedback-icon {
    right: 0;
    width: 34px;
}

.glyphicon {
    position: absolute;
    top: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon, address {
    font-style: normal;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.form-control {
    background-color: white;
}

.input-id {
    margin: 0px 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    position: relative;
    box-shadow: 0px 0px 25px -5px #000000;
}

    .input-id:before {
        top: 10px;
        left: 0px;
        background: url("../images/SocialNetwork.png") no-repeat;
        background-position: center;
        background-size: 350px 100%;
        opacity: 0.15;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: calc(100% - 20px);
        content: "";
    }

.recommended-person {
    display: inline-block;
    padding: 10px 30px;
}

    .recommended-person img {
        height: 125px;
        border-radius: 1000px;
    }

.shortlist div a p {
    display: none;
}

.round {
    height: 65px;
    border-radius: 1000px;
    box-shadow: 0px 0px 30px -5px #000000;
}

.expanded {
    background-color: #f0f0f0;
    height: 250px;
}

    .expanded .user-photo {
        height: 80px;
    }

    .expanded div a {
        display: block;
    }

    .expanded .item-row .item-cell:nth-child(2n) {
        position: relative;
        top: 100px;
        left: 0px;
    }

    .expanded .arrow-expand {
        display: none;
    }

@media only screen and (max-width: 600px) {
    .round {
        height: 45px;
        border-radius: 1000px;
    }

    .expanded {
        background-color: #f0f0f0;
        height: 240px;
    }

        .expanded .user-photo {
            height: 65px;
        }
}


.shortlist .arrow-hide {
    display: none;
}

footer {
    padding: 10px 0px;
    text-align: center;
    color: #626262;
    background: #f0f0f0;
}


li .arrow {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.help-text {
    font-size: 0.85em;
    opacity: 0.75;
}

.about-information {
    color: #626262;
    padding: 0px 50px;
}

.search-btn {
    width: 100%;
    margin-top: 5px;
    height: 40px;
    text-align: center;
}

.what-do-we-offer {
    color: white;
    margin: 0px 10px;
    background: #52a155;
    box-shadow: 0px 0px 30px -5px #000000;
    position: relative;
    min-height: 120px;
}

    .what-do-we-offer h1 {
        padding-top: 20px;
    }

    .what-do-we-offer p {
        padding-bottom: 20px;
        color: white;
    }

    .what-do-we-offer:before {
        left: 0px;
        background: #538f75 url("../images/fulltext.jpg") no-repeat;
        background-position: center;
        background-size: 100%;
        opacity: 0.4;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        content: "";
    }

@media only screen and (max-width: 600px) {
    .what-do-we-offer:before {
        background-size: 150%;
    }
}

.item-cell a p {
    margin: 0px;
}

.too-short-chain {
    background: #c6a814;
}

    .too-short-chain:before {
        background: url("../images/ReachingHands.png") no-repeat;
        background-position: center;
        background-size: 100%;
        width: 100%;
        height: 100%;
    }

.exception {
    background: #e12525;
}

    .exception:before {
        background: url("../images/Error.png") no-repeat;
        background-position: center;
        background-size: 30%;
        width: 100%;
        height: 100%;
    }

.header-theory {
    box-shadow: 0px 0px 30px -5px #000000;
    vertical-align: middle;
    position: relative;
    margin: 5px 10px;
}

    .header-theory img {
        position: relative;
        top: -10px;
        height: 50px;
        display: inline-block;
    }

    .header-theory h1 {
        left: 0px;
        top: 0px;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }

.success-search {
    background: #528e74;
}

    .success-search:before {
        background: url("../images/PeopleChain.png") no-repeat;
        background-position: center;
        background-size: 100%;
        width: 100%;
        height: 100%;
    }

.notification-banner {
    color: white;
    margin: 0px 10px;
    box-shadow: 0px 0px 30px -5px #000000;
    position: relative;
    min-height: 120px;
}

    .notification-banner h1 {
        padding-top: 20px;
    }

    .notification-banner p {
        padding-bottom: 20px;
        color: white;
    }

    .notification-banner:before {
        top: 0px;
        left: 0px;
        opacity: 0.1;
        position: absolute;
        display: inline-block;
        content: "";
    }
