@model SearchModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Search" method="post">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div id="firstIdForm" class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">vk.com/</span>
                                <input type="text" asp-for="UserId" class="form-control" id="firstId" aria-describedby="firstStatus">
                            </div>
                            <span class="feedback feedback-user-name" aria-hidden="true"></span>
                            <span class="feedback feedback-icon glyphicon" aria-hidden="true"></span>
                            <span id="firstStatus" class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="secondIdForm" class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">vk.com/</span>
                                <input type="text" asp-for="SearchedId" class="form-control" id="secondId" aria-describedby="secondStatus">
                            </div>
                            <span class="feedback feedback-user-name" aria-hidden="true"></span>
                            <span class="feedback feedback-icon glyphicon" aria-hidden="true"></span>
                            <span id="secondStatus" class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">Max path</span>
                                <label class="form-control" id="pathLength"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="slidecontainer">
                            <input asp-for="MaxPathLength" type="range" min="3" max="7" value="4" class="slider" id="myRange">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group btn-group search-button">
                            <input type="submit" class="btn btn-primary" id="startButton" data-toggle="modal" data-target="#startModal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("pathLength");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>

<script>
    var firstId = document.getElementById("firstId");
    var firstIdForm = document.getElementById("firstIdForm");

    var secondId = document.getElementById("secondId");
    var secondIdForm = document.getElementById("secondIdForm");

    firstId.oninput = function () {
        var users = [];
        $.getJSON('https://api.vk.com/method/users.get?v=fuckvk&uids=' + firstId.value + '&fields=sex,bdate,photo_100,education&callback=?',
            function (result) {
                if (result.error) {
                    firstIdForm.classList.remove("has-success");
                    firstIdForm.classList.add("has-error");
                }
                else {
                    users = users.concat(result.response);

                    firstIdForm.classList.add("has-success");
                    firstIdForm.classList.remove("has-error");
                }
            });
    }

    secondId.oninput = function () {
        var users = [];
        $.getJSON('https://api.vk.com/method/users.get?v=fuckvk&uids=' + secondId.value + '&fields=sex,bdate,photo_100,education&callback=?',
            function (result) {
                if (result.error) {
                    secondIdForm.classList.remove("has-success");
                    secondIdForm.classList.add("has-error");
                }
                else {
                    users = users.concat(result.response);

                    secondIdForm.classList.add("has-success");
                    secondIdForm.classList.remove("has-error");
                }
            });
    }

</script>
