@model SearchModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="padding: 0px 10px;">
    <h1>What is it</h1>
    <div class="text-info" style="font-size: 14px;">
        Handshakes theory is the idea that all living things and everything else in the world are six or fewer stepsaway from each other so that a chain of "a friend of a friend" statements can be made to connect any two people in a maximum of six steps.
    </div>
</div>

<form asp-controller="Home" asp-action="Search" method="post">
    <div class="input-id container" style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="row center-block" style="text-align:center;">
                    <h2>Try it yourself</h2>
                </div>
                <div class="row center-block" style="text-align:center;">
                    <img src="~/images/info.png" height="20" />
                    Enter vk IDs, between which you are looking for link
                </div>
                <div>
                    <div>
                        <div id="firstIdForm" class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">vk.com/</span>
                                <input type="text" class="form-control" id="firstId" aria-describedby="firstStatus">
                                <input class="Id" type="hidden" asp-for="FirstUser.Id"/>
                                <input class="FirstName" type="hidden" asp-for="FirstUser.FirstName"/>
                                <input class="LastName" type="hidden" asp-for="FirstUser.LastName"/>
                                <input class="Photo" type="hidden" asp-for="FirstUser.PhotoUrl"/>
                            </div>
                            <span class="feedback feedback-user-name" aria-hidden="true"></span>
                            <span class="feedback feedback-icon glyphicon" aria-hidden="true"></span>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div id="secondIdForm" class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">vk.com/</span>
                                <input type="text" class="form-control" id="secondId" aria-describedby="secondStatus">
                                <input class="Id" type="hidden" asp-for="SecondUser.Id"/>
                                <input class="FirstName" type="hidden" asp-for="SecondUser.FirstName"/>
                                <input class="LastName" type="hidden" asp-for="SecondUser.LastName"/>
                                <input class="Photo" type="hidden" asp-for="SecondUser.PhotoUrl"/>
                            </div>
                            <span class="feedback feedback-user-name" aria-hidden="true"></span>
                            <span class="feedback feedback-icon glyphicon" aria-hidden="true"></span>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div style="color: #626262; text-align:center;">
                    <img src="~/images/info.png" height="20" />
                    Set maximal path length (affects work speed)
                </div>
                <div>
                    <div>
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">Max path</span>
                                <label class="form-control" id="pathLength"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="slidecontainer">
                            <input asp-for="MaxPathLength" type="range" min="3" max="7" value="4" class="slider" id="myRange">
                        </div>
                    </div>
                </div>
                <div>
                    <div >
                        <div class="form-group btn-group search-button">
                            <input type="submit" class="btn btn-primary" id="submitButton" data-toggle="modal" data-target="#startModal">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>

<div class="text-center">
    <h2>Can't choose?</h2>
    <h3>Let us help you</h3>
    <div class="row center-block" style="text-align:center;">
        <img src="~/images/info.png" height="20" />
        Just click on icon of person you want
    </div>
    <div>
        <div class="recommended-person">
            <div>
                <img src="~/images/Korzh.png" class="round" />
            </div>
            <div>
                Max Korzh
            </div>
            <input type="hidden" class="recommended-person-id" value="maxkorzh_official" />
        </div>
        <div class="recommended-person">
            <div>
                <img src="~/images/Medvedev.png" class="round" />
            </div>
            <div>
                D. Medvedev
            </div>
            <input type="hidden" class="recommended-person-id" value="dm" />
        </div>
    </div>
    <div>
        <div class="recommended-person">
            <div>
                <img src="~/images/Oxxxymiron.png" class="round" />
            </div>
            <div>
                Oxxxymiron
            </div>
            <input type="hidden" class="recommended-person-id" value="norimyxxxo" />
        </div>
        <div class="recommended-person">
            <div>
                <img src="~/images/Wylsacom.png" class="round" />
            </div>
            <div>
                Wylsacom
            </div>
            <input type="hidden" class="recommended-person-id" value="wylsa" />
        </div>
    </div>
    <div>
        <div class="recommended-person">
            <div>
                <img src="~/images/Slivkishow.png" class="round" />
            </div>
            <div>
                Slivkishow
            </div>
            <input type="hidden" class="recommended-person-id" value="id206285614" />
        </div>
        <div class="recommended-person">
            <div>
                <img src="~/images/Leekei.png" class="round" />
            </div>
            <div>
                Leekei
            </div>
            <input type="hidden" class="recommended-person-id" value="id151409134" />
        </div>
    </div>
</div>


<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("pathLength");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>
<script>
    function makeRequestUrl(id) {
        return 'https://api.vk.com/method/users.get?v=fuckvk&uids=' + id + '&fields=bdate,photo,education&callback=?';
    }

    function validateId() {
        var users = [];

        var Form = this.parentElement.parentElement;
        var FeedbackIcon = Form.getElementsByClassName('feedback-icon')[0];
        var FeedbackUsername = Form.getElementsByClassName('feedback-user-name')[0];
        var Id = Form.getElementsByClassName('Id')[0];
        var FirstName = Form.getElementsByClassName('FirstName')[0];
        var LastName = Form.getElementsByClassName('LastName')[0];
        var Photo = Form.getElementsByClassName('Photo')[0];

        $.getJSON(makeRequestUrl(this.value),
            function (result) {
                if (result.error) {
                    Form.classList.remove("has-success");
                    Form.classList.add("has-error");

                    FeedbackIcon.classList.remove("glyphicon-ok");
                    FeedbackIcon.classList.add("glyphicon-remove");

                    FeedbackUsername.innerText = "";
                }
                else {
                    users = users.concat(result.response);

                    Id.value = users[0].uid;
                    FirstName.value = users[0].first_name;
                    LastName.value = users[0].last_name;
                    Photo.value = users[0].photo;

                    Form.classList.add("has-success");
                    Form.classList.remove("has-error");

                    FeedbackIcon.classList.add("glyphicon-ok");
                    FeedbackIcon.classList.remove("glyphicon-remove");

                    FeedbackUsername.innerHTML = users[0].first_name + ' ' + users[0].last_name;
                }
            });
    }

    var recommendedPersons = document.getElementsByClassName('recommended-person');
    for (var i = 0; i < recommendedPersons.length; i++)
        recommendedPersons[i].addEventListener('click', function () {
            var searchedId = document.getElementById('secondId');
            var recommendedId = this.getElementsByClassName("recommended-person-id")[0];
            searchedId.value = recommendedId.value;
            validateId.call(searchedId);
        });

    var submitButton = document.getElementById("submitButton");

    var firstIdSuccess = false;
    var secondIdSuccess = false;

    firstId.oninput = validateId;
    secondId.oninput = validateId;

    window.onload = function () {
        validateId.call(document.getElementById('firstId'));
        validateId.call(document.getElementById('secondId'));
    };


</script>
