@model SearchModel

@{
    ViewData["Title"] = "Home Page";
}

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>

<form asp-controller="Home" asp-action="Search" method="post">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">vk.com/</span>
                                <input type="text" asp-for="UserId" class="form-control" id="first" aria-describedby="firstStatus">
                            </div>
                            <span class="feedback feedback-user-name" aria-hidden="true"></span>
                            <span class="feedback feedback-icon glyphicon" aria-hidden="true"></span>
                            <span id="firstStatus" class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">vk.com/</span>
                                <input type="text" asp-for="SearchedId" class="form-control" id="second" aria-describedby="secondStatus">
                            </div>
                            <span class="feedback feedback-user-name" aria-hidden="true"></span>
                            <span class="feedback feedback-icon glyphicon" aria-hidden="true"></span>
                            <span id="secondStatus" class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">Max path</span>
                                <label class="form-control" id="pathLength"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="slidecontainer">
                            <input asp-for="MaxPathLength" type="range" min="3" max="7" value="4" class="slider" id="myRange">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group btn-group search-button">
                            <input type="submit" class="btn btn-primary" id="startButton" data-toggle="modal" data-target="#startModal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
