@model List<VkUser[]>

@{
    ViewData["Title"] = "Search";
}

<div class="result-panels">
    <center>
        <div class="result-panel" id="count">
            <div class="empty-row"></div>
            <div>
               <span class="glyphicon glyphicon-user count-icon"></span>
                 <span class="glyphicon glyphicon-user count-icon"></span>
            </div>
            <div>
                <span>Вы знакомы через X пользователей</span>
            </div>
        </div>
        <div class="result-panel active" id="write">
            <ul class="list-group">
              @foreach (var answer in Model)
              {
                <li class="list-group-item">
                    <div class="item-row">
                        @foreach (var user in answer)
                        {
                            <div class="item-cell">
                                 <a target="_blank" title="" href="http://vk.com/id107094114">@user.Id</a>
                            </div>
                        }
                    </div>
                </li>
              }
            </ul>
        </div>
    </center>
</div>

