@model List<VkUser[]>

@{
    ViewData["Title"] = "Search";
}

<div class="result-panels">
    <center>
        <div class="result-panel" id="count">
            <div class="empty-row"></div>
            @if (Model.Any())
            {
        <div>
            <span>Вы знакомы через @Math.Abs(Model.First().Length - 2) пользователей</span>
            <div>
                @for (int i = 0; i < Model.First().Length - 2; i++)
                {
                    <span class="glyphicon glyphicon-user count-icon"></span>
                }
            </div>
        </div>
            }
            else
            {
                <div>
                    <span> Не удалось найти связь. Попробуйте увеличить максимальную длину цепочки.</span>
                </div>
            }
        </div>
            <div class="result-panel active" id="write">
                <ul class="list-group">
                    @foreach (var answer in Model)
                    {
                    <li class="list-group-item">
                        <div class="item-row">
                            @foreach (var user in answer)
                             {
                                <div class="item-cell">
                                    <a target="_blank" href="@string.Format("https://vk.com/id{0}",user.Id)" title="">@user.FirstName @user.LastName</a>
                                </div>
                         }
                        </div>
                    </li>
                    }
                </ul>
            </div>
</center>
</div>

