@model string


@{
    ViewData["Title"] = "Error";
}

<div class="text-center notification-banner exception" style="padding: 0px 10px;">
    <h1>Oops! Error!</h1>
    <div class="text-info about-information" style="font-size: 14px;">
        <p>
            Unfortunately, the site is in beta testing and can lag. We apologize for these inconveniences.
        </p>
    </div>
</div>

